/* Cart styles */
.cart-container {
    /* Add your cart container styles here */
    width: 100%;
    max-width: 600px;
    border-left: 2px solid #ebebeb;
  border-radius: 4px;
    /* Add any other styles for your cart container */
  }

  
/* Top Section */
.cart-header {
  
  padding: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  border-bottom: 1px solid #ccc;
}

.cart-title {
  font-size: 24px;
} 

.trash-icon{
  font-size: 24px;
   cursor: pointer;
  color: rgb(237 65 65)
}

.trash-icon:hover{
  color: red;
}


/* Middle Section */
.cart-items {
  margin-bottom: 16px;
}

.cart-item {
  padding: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.item-label {
  flex: 1;
  font-weight: bold;
}

.item-value {
  flex: 2;
}

/* Replace the below styles with your actual icon styles */
i {
  margin-right: 8px;
  font-size: 20px;
  color: #999;
}

/* Footer Section */
.cart-footer {
  padding: 10px;
  
}

.proceed-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.cart-amount {
  font-weight: bold;
}
  

.w100 {
  width:100%
}

.pointer {
  cursor:pointer; 
  
}
.pointer:hover {
  font-size:14px;
  transition: all 0.5s;
}

.btn-block {
  width: 100%;
}




/* Media Query for Tablets and Desktops */
/*
@media (max-width: 530px) {
  .dnt-show-mble {
    display: none !important;
  }

  .only-for-mobile .book-icon {
    font-size: 5rem !important;
    color: rgb(205 137 8 / 65%);
    margin-top: 2rem;
  }

  .only-for-mobile .book-empty-txt {
    font-size:1rem !important;
    text-align: center !important;
    margin-left: 5px;
  }

  .only-for-mobile .book-slot-txt {
    font-size:0.8rem !important;
    text-align: center !important;
    margin-left: 5px;
  }

  .only-for-mobile .flex-col {
    flex-direction: row !important;
    width: 100% !important;
    border-bottom: 1px solid #eee;
    text-transform: capitalize !important;
  }

  .only-for-mobile .flex-col-items {
    width: 100%;
  }
  .only-for-mobile .cart-item .flex-row {
    flex-direction: column !important;
  }

  .only-for-mobile .cart-item .flex-row .flex-col-items svg {
    width: 40% !important;
  } 

  .only-for-mobile .flex-col svg {
    font-size: 30px;
  }

  .only-for-mobile .flex-col .cart-label {
    font-size: 15px;
  }
  
  .only-for-mobile .cart-footer {
    display: inherit !important;
    padding: 0px !important;
    padding-left: 10px !important;
    padding-bottom: 15px !important;

    margin-top: 0px !important;
  } 

  .only-for-mobile .proceed-btn {
    padding: 10px !important;
  }

  .only-for-mobile .proceed-btn label {
    font-size: 12px;
  }

  .only-for-mobile .md\:space-x-1 > * + * {
    margin-left: 0.25rem;
    margin-top: 0;
  }

 .only-for-mobile .flex-col .cart-label {
    margin-left: 0px !important;
  }

  .only-for-mobile .text-xl {
    font-size: 1.2rem;
    line-height: 1.9rem; 
    margin: 0px !important;
    margin-bottom: 20px !important;
    border-bottom: 1px solid #ccc;
    align-items: baseline; 
  }
  .only-for-mobile .flex-col .cart-label {
    padding-top: 5px !important;
  }
  .only-for-mobile .cart-title {
    font-size: 1.2rem !important;
  }
  .only-for-mobile .cart-header .trash-icon {
    font-size: 25px !important;
  }

  .only-for-mobile .cart-item {
    margin: 0px !important;
    padding: 4px !important;
  }

  .only-for-mobile .cart-item:last-child {
    margin: 0px !important;
    padding: 0px !important;
  }

  .only-for-mobile .sil-field-set-comp {
    width: 65% !important;
    top: 50% !important;
    left: 40% !important;
  }

  .only-for-mobile .sil-svg-end-adornment {
    top: 10px !important;
    right: 0px !important;
  }

  .css-ittuaa-MuiInputAdornment-root {
    position: absolute;
    right: 2px !important;
  }

  .booked-hours {
    margin:0px !important;
  }
  
}

*/