

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#navigation {
  margin-bottom: 2rem;
}

button {
  min-width: 80px;
}

.column {
  flex: 1;
  margin: 10px;
}

.text-center {
  text-align: center;
}

.left-column {
  flex: 0 0 45%;
}
.flex {
  display: flex;
}

.right-column {
  flex: 1 1;
}

.top-nav-bar {
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.top-nav {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo img {
  width: 100px; /* Adjust the logo width as needed */
  height: auto;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
  margin-left: 20px; /* Adjust the spacing between the links */
}

.nav-links li:first-child {
  margin-left: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #999;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.hide-on-small-screens {
  display: block; /* By default, show the div */
}

.justify-start {
  justify-content: flex-start;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.gap-2 {
  gap: 0.5rem;
}

.text-typography {
  --tw-text-opacity: 1;
  color: rgb(47 72 88 / var(--tw-text-opacity));
}
.text-xl {
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin: 0px !important;
  margin-bottom: 10px !important;
  color: orange;
}

.my-0 {
  margin: top 0px;
}
.mx-10 {
  margin-left: 10px;
}

.wid-80 {
  width: 80% !important;
}

/* TimePicker.css */

.time-am {
  color: blue; /* Example style for AM time options */
}

.time-pm {
  color: red; /* Example style for PM time options */
}

/* .incDec .inc {
  flex: 0 0 45%;
}

.incDec .dec {
  flex: 0 0 45%;
} */

.sil-fieldSet {
  text-align: left;
  position: absolute;
  bottom: 0;
  right: 0;
  top: -5px;
  left: 0;
  margin: 0;
  padding: 0 8px !important;
  pointer-events: none;
  border-radius: 3px !important;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  min-width: 0%;
  border-color: rgba(0, 0, 0, 0.23);
}

.SILFieldSetComp.MuiFormControl-root {
  /* margin-bottom: 20px !important; */
}

.SILFieldSetComp .SILFieldSetCompLabel {
  color: rgba(0, 0, 0, 0.6) !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  font-weight: bold;
  font-size: 1rem !important;
  line-height: 1.4375em !important;
  letter-spacing: 0.00938em !important;
  padding: 0 !important;
  position: relative !important;
  display: block !important;
  transform-origin: top left !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  max-width: calc(133% - 32px) !important;
  position: absolute;
  left: 0 !important;
  top: 0 !important;
  -webkit-transform: translate(14px, -9px) scale(0.75) !important;
  -moz-transform: translate(14px, -9px) scale(0.75) !important;
  -ms-transform: translate(14px, -9px) scale(0.75) !important;
  transform: translate(14px, -9px) scale(0.75) !important;
  -webkit-transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms !important;
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms !important;
  z-index: 0 !important;
  pointer-events: auto !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.sil-input-adornment {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox v;
  display: flex !important;
  height: 0.01em !important;
  max-height: 2em !important;
  -webkit-align-items: center !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  white-space: nowrap !important;
  color: rgba(0, 0, 0, 0.54) !important;
  margin-right: 8px !important;
  position: relative;
}

.sil-svg-end-adornment {
  position: absolute !important;
  top: 5px;
  right: 2px;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  height: 0em !important;
  display: inline-block !important;
  fill: currentColor !important;
  -webkit-flex-shrink: 0 !important;
  -ms-flex-negative: 0 !important;
  flex-shrink: 0 !important;
  -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
  font-size: 1.5rem !important;
}

.react-datepicker__triangle {
  position: absolute;
  left: 2.6rem !important;
  transform: translate3d(0px, 0px, 0px);
}

.MuiFormLabel-root.MuiInputLabel-root {
  z-index: 0 !important;
}

.cartImg {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.cart-outer-box {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: relative;
  max-width: 100%;
}

.cart-inner-box {
  box-sizing: border-box;
  display: block;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}

.div-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
}

.flex-item {
  flex: 1 0;
}

.policy-left-col {
  padding: 0.3rem;
  background-color: #fff !important;
}

.policy-left-col .policy-container,
.policy-right-col .policy-container {
  padding: 1rem;
  border: 1px solid #e3e0e0;
  /* background-color: #eee; */
  border-radius: 0.3rem;
}

.policy-right-col {
  padding: 0.3rem;
  background-color: #fff !important;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* Base styles for the list */
.fancy-bullets {
  list-style: none;
  padding-left: 20px;
  margin: 0;
}

/* Custom bullet styles using ::before pseudo-element */
.fancy-bullets li::before {
  content: "\f058"; /* Use the Font Awesome icon code for the bullet (e.g., f058 for solid circle) */
  font-family: "Font Awesome 6 Free"; /* Use the Font Awesome font family */
  color: #007bff; /* Customize the color of the bullet */
  font-size: 12px; /* Customize the size of the bullet */
  margin-right: 10px; /* Add some space between the bullet and the text */
  vertical-align: middle; /* Vertically align the bullet with the text */
}

.top-nav-bar {
  background-color: #50a4ff;
}
.top-nav .nav-links li a {
  color: #fff;
}

.errmsg {
  color: red;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.md\:items-start {
  align-items: flex-start;
}

.justify-start {
  justify-content: flex-start;
}

.space-x-1 > * + * {
  margin-left: 0.25rem;
}

.space-y-1 > * + * {
  margin-top: 0.25rem;
}

.w-full {
  width: 100%;
}

.text-xs {
  font-size: 0.75rem;
}

.text-sm {
  font-size: 0.875rem;
}

.md\:mt-0\.5 {
  margin-top: 0.125rem;
}

.flex-col {
  flex: 1 1 !important;
  text-transform: capitalize !important;
}

.flex-col .cart-label {
  font-size: 14px;
  padding-top: 10px !important;
}

.flex-col-items {
  display: flex; 
}

.book-icon {
  font-size: 10rem !important;
  color: rgb(205 137 8 / 65%);
  margin-top: 6rem;
}

.each-booking-item {
  align-items: center;
}
.flex-col {
  flex-direction: column !important;
  width: 100% !important;
  text-transform: capitalize !important;
}

.flex-col-items {
  width: 100%;
}

.flex-col-right {
  align-items: flex-start;
  text-align: right !important;
}

.cart-container .trash-icon {
  font-size: 30px;
}

/* Styles for the sticky footer */
.footer {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: orange; /* Customize background color if needed */
  padding: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for separation */
}

.footer-icon svg {
  font-size: 20px;
}

.footer-icon svg.proceed-icon {
  font-size: 35px !important;
}

.footer-middle {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.clear-form-fields {
  position: absolute;
  top: 0px;
  right: 0px;
  color: red;
  cursor: pointer;
}

.pos-rel {
  position: relative;
}

/* General styles */
.containers {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.containers .game-venue-details,
.containers .div-c {
  margin: 5px;
  padding: 8px;
  flex: 1 1 100%; /* All divs take up full width by default */
}

.containers .div-b {
  margin: 5px;
  padding: 8px;
}

.m-y-10 {
  margin-top: 10px;
}

.pricing-details,
.game-venue-details {
  border: 2px solid #eee;
  border-radius: 5px;
}

.fancy-bullets span {
  font-size: 12px;
}

/* Styles for Div A and Div B to be side by side */
.containers > .div-a,
.div-b {
  flex-basis: calc(50% - 50px);
}

.game-venue-details .flex-col-right {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.policy-bullet-points {
  font-size: 13px !important;
}

.price-section {
  display: flex !important;
  width: 100% !important;
  justify-content: space-between !important;
}

.apply-coupon-btn {
  position: absolute;
  top: 33px;
  right: 0px !important;
  z-index: 9;
}

.booking-form-container {
  display: flex;
  justify-content: space-between;
  /* margin: 0 10%; */
  height: 100%;
  width: 100%;
}

.booking-form-container.div-a,
.booking-form-container.div-b {
  text-align: center; /* Center the content in each div */
  padding: 16px; /* Add padding for better visual appearance */
}

/* Styles for divA and divB */
.booking-form-container .div-a {
  flex-basis: 60%;
  border: 2px solid #ebebeb;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
}

.booking-form-container .div-b {
  flex-basis: 40%;
  border: 2px solid #ebebeb;
  margin: 10px;
  border-radius: 5px;
}

.mar-tp30 {
  margin-top: 30px;
}

.txt-lower-case {
  text-transform: lowercase !important;
}

.cardBox {
  padding: 0px !important;
  width: auto !important;
}

.modal-title {
  padding: 15px;
  /* border-bottom:1px solid #999 */
}

.assignsection-card {
  padding: 0px !important;
}

.modal-close-btn {
  position: absolute;
  right: 10px;
  top: 05px;
  cursor: pointer;
  z-index: 1;
}

.modal-body {
  padding: 0px !important; 
}

/* css rules for modal popup content */

/* Styles for the modal overlay */
.modal-overlay {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.6); */
  /* display: flex;
  align-items: center;
  justify-content: center;  */
  animation: fadeIn 0.3s;
}

/* Styles for the modal content */
.modal-overlay .modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* text-align: center;
  display: flex; */
  max-width: 600px; /* Adjust the maximum width as needed */
  flex-direction: inherit !important;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.send-otp-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 10px;
}

.send-otp-btn:hover {
  background-color: #0056b3;
}

/* Styles for the left section with the graphical image */
.left-section {
  flex: 1 1;
  padding: 5px;
  background-color: #f5f5f5;
}

.graphic-image {
  max-width: 100%; /* Adjust the size as needed */
  display: block; /* Ensure the image does not create extra spacing */
  margin: 0 auto; /* Center the image horizontally */
}

/* Styles for the right section with the form */
.right-section {
  flex: 1 1;
  margin: 5px;
  display: flex;
  flex-direction: column;
  margin-top:0px !important
}

.register-user .form-control{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.register-user h4 {
  font-size: 1.1rem;
}
.register-user input {
  font-size: 13px;
}


/* .payment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
} */

.payment-row {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  cursor: pointer;
}

.payment-row:hover {
  background-color: #dcdee0;
  color: #000;
}

.payment-icon {
  margin-right: 10px;
}

.payment-icon img {
  width: 30px; /* Adjust the size as needed */
  height: auto;
}

.payment-label {
  font-size: 16px;
}

.display-grid {  
  padding:10px !important
}

.display-grid-1{
margin-right:0% !important
}

.venue-detail-items {
  padding: 5px !important;
}

.pos-rel {
  position: relative !important;
}
.pos-abs {
  position: absolute;
  right: 0rem !important;
}

/* Keyframes for fadeIn animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  /* .containers {
    flex-direction: column;  
  } */

  .game-venue-details,
  .pricing-details {
    border: none;
  }

  .containers {
    border: 2px solid #eee;
    border-radius: 5px !important;
  }

  .containers .game-venue-details,
  .containers .div-c {
    padding: 0px;
  }
  .containers .div-b {
    padding-top: 0px !important;
 
    padding-bottom: 0px !important;
  }

  .div-a,
  .div-b {
    flex-basis: 100%;
  }
  .dnt-show-at-765 {
    display: none !important;
  }
  .policy-bullet-points {
    font-size: 13px !important;
  }

  .policy-terms {
    margin-bottom: 50px !important;
  }

  .show-at-765 .footer {
    margin-top: 50px !important;
  }

  .show-at-765 {
    display: block;
  }

  .div-b {
    display: none !important;
  }
}

.css-ittuaa-MuiInputAdornment-root {
  position: absolute;
  right: 0px !important;
}

/** write a media query for min width 300 and max of 767 **/
@media (min-width: 300px) and (max-width: 767px) {
  .booking-form-container .div-b {
    display: none !important;
  }
  .booking-form-container .div-a {
    flex-basis: 100% !important;
  }
  .dnt-show-mble {
    display: none;
  }
  .clear-form-fields {
    display: block !important;
  }

  .div-a,
  .div-b {
    flex-basis: 100%;
    display: block !important;
  }
  .left-section {
    display:none !important;
  }
}

/* Media query for mobile devices */
@media (min-width: 768px) {
  .show-at-765 {
    display: none;
  }
  .show-mble {
    display: none !important;
  }

  .sil-field-set-comp {
    width: 55% !important;
  }
  .clear-form-fields {
    display: none !important;
  }
}

/* Media Query for Tablets and Desktops */

@media (max-width: 530px) {
  .booking-form-container .div-a {
    flex-basis: 100% !important;
  }

  .dnt-show-mble {
    display: none;
  }

  .pricing-details {
    border: none !important;
    border-radius: 5px;
  }

  .booking-form {
    width: 100% !important;
    border: 1px solid #999;
  }
  .flex-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-xl {
    font-size: 1.5rem;
  }
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    padding: 0px !important;
    height: auto !important;
    margin-top: 20px !important;
  }

  .top-nav-bar {
    padding: 0px !important;
  }

  .logo svg {
    font-size: 40px !important;
    color: #fff !important;
    width: auto !important;
  }

  .sil-svg-end-adornment {
    top: 10px !important;
    right: 1px !important;
  }

  .css-ittuaa-MuiInputAdornment-root {
    position: absolute;
    right: 0px !important;
  }

  .sil-field-set-comp {
    width: 55% !important;
  }
}

/* Use a media query to hide the div for screen sizes smaller than a certain breakpoint */
/* @media (max-width: 991px) { */
@media (min-width: 768px) and (max-width: 991px) {
  .hide-on-small-screens {
    display: none;
  }
  .left-column {
    flex: 0 0 35%;
    padding: 10px;
  }
  .clear-form-fields {
    display: none !important;
  }
}

/* Media queries for responsiveness */
@media screen and (max-width: 600px) {
  .column {
    flex-basis: 100%;
  }
}

/** Media queries for cart based on screen size **/
@media screen and (max-width: 600px) {
  .cart-outer-box {
    width: 100%;
  }
  .cart-inner-box {
    width: 100%;
  }
}

/* Media Query for Mobile Screens (up to 767px) */
@media (max-width: 767px) {
  .flex-row {
    flex-direction: column;
  }
  .space-x-1 > * + * {
    margin-left: 0;
    margin-top: 0.25rem;
  }
}


/** 
rzp_test_kvq0flV7YLPMFu
Au4ih494g0lYoWZuXhGB3nfS
 */

